@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 600%;
  background: transparent;
  font-family: 'Grape Nuts', cursive;
}

p {
  top: 10%;
  margin-top: 100px;
  font-size: 400%;
  background: transparent;
  font-family: 'Grape Nuts', cursive;
}

.dots {
  display: block;
  background: white;
  height: 80px;
  width: 80px;
  float: left;
  /* border: 10px solid #333; */
}

.dots2 {
  display: block;
  background: #333;
  height: 80px;
  width: 80px;
  float: right;
}

.options {
  margin-top: 20px;
  height: 100px;
  width: 220px;
  z-index: 2;
}

td {
  border: 10px solid #333;
  height: 80px;
  width: 80px;
  visibility: hidden;
}

table {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 35%;
  z-index: 1;
}

.main {
  width: 100vw;
  height: 100vh;
  /* background:linear-gradient(#f7aeb7, #ffcccc, #ffeee6); */
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
}